{% load electoral_system %}
<h1>{{ poll.question }}</h1>
<h2>Summary of Options Available:</h2>
{% for option in poll.options %}
    <p>{{ option }}</p>
{% endfor %}
<form action="/polls/{{ poll.timestamp_str }}/vote" method="get" target="_self">
    {{ form.as_p }}
    <input type="submit" value="Go To Vote">
</form>
<form action="/polls/{{ poll.timestamp_str }}/results" method="get" target="_self">
    <p>
        <label for="id_system">System to Use to Calculate Results</label>
        <select name="system" id="id_system">
            {% for supported_system in poll.supported_systems %}
                <option value="{{ supported_system }}"
                        {% if supported_system == poll.default_system %} selected {% endif %}>
                    {{ supported_system|system_name }}
                </option>
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="See Results Using System">
</form>
