<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="https://unpkg.com/viz.js@2.1.2/viz.js"></script>
<script src="https://unpkg.com/viz.js@2.1.2/full.render.js"></script>
<div id="renderedgraph" style="text-align: center;"></div>
<script>
var viz = new Viz();
var dotIndex = 0;
function render() {
    var dot = dots[dotIndex];
    dotIndex = (dotIndex + 1) % dots.length;
    viz.renderSVGElement(dot).then(function(rendered) {
	rendered.id = "renderedgraph"
	rendered.width = "100%"
	rendered.removeAttribute('viewBox');
	console.log(rendered);
        var existing = document.getElementById('renderedgraph');
	console.log(existing);
        var newEl = existing.parentNode.replaceChild(rendered, existing);
	console.log(newEl)
        setTimeout(render, 1500);
    });
}
var dots = [
    {% for graph in graphs %}
    `{{graph|safe}}`,
    {% endfor %}
];
render();
</script>
